{% extends 'layout.html' %}
{% block content %}

<div class="m-2">
  <div id="alertContainer"></div>
  <div class="container row">
    <div class="col">
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#addSolarDataModal">
        Add Solar Power
      </button>

      <div class="modal fade" id="addSolarDataModal" tabindex="-1" aria-labelledby="addSolarDataModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addSolarDataModalLabel">Add Solar</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <form method="POST" id="add-solar">
                <div class="mb-3">
                  <label for="add-solar-data" class="form-label">Add Solar</label>
                  <input name="addSolarData" id="add-solar-data" class="form-control mb-3">
                  <label for="add-solar-month-data" class="form-label">Month</label>
                  <input type="date" name="addSolarMonthData" id="add-solar-month-data" class="form-control mb-3">
                  </select>
                </div>
                
                <button type="submit" class="btn btn-danger">Add Solar</button>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      <!-- filter -->
      <button type="button" class="p-2 btn btn-danger" data-bs-toggle="modal" data-bs-target="#filterDataModal">
        Filter
      </button>
      <!-- filter Modal -->
      <div class="modal fade" id="filterDataModal" tabindex="-1" aria-labelledby="filterDataModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="filterDataModalLabel">Filter</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <form method="POST" id="filterUsage">
                
                <div class="mb-3">
                  <label for="powerloss" class="form-label">Power Loss</label>
                  <input value="1" type="range" class="form-range" min="0.0" max="1" step="0.1" id="powerloss">
                  <span id="rangeValue">0.0</span>
                </div>
                <button type="submit" class="btn btn-danger">Filter</button>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      <!-- add record trigger modal -->
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#addRecModal">
        Add Record 
      </button>

      <!-- add record Modal -->
      <div class="modal fade" id="addRecModal" tabindex="-1" aria-labelledby="addRecModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addRecModalLabel">Add Record</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form id="addrecord">
                  <div class="mb-3">
                    <label for="addDate" class="form-label">Date</label>
                    <input name="addDateTo" value="2023-5-1" type="date" class="form-control" id="addDate" name="fullDate" aria-describedby="date">
                  </div>
                  <div class="mb-3">
                    <label for="addDeptname" class="form-label">Department</label>
                    <select name="department" id="addDeptname" class="form-select" aria-label="select dept">
                      <option selected>---</option>
                      <option value="DEET">Department of Electrical Engineering and Technology (DEET)</option>
                      <option value="DCET">Department of Civil Engineering and Technology (DCET)</option>
                      <option value="DMRET">Department of Materials and Resources Engineering and Technology (DMRET)</option>
                      <option value="DMET">Department of Mechanical Engineering and Technology (DMET)</option>
                      <option value="DCHET">Department of Chemical Engineering and Technology (DCHET)</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="roomName" class="form-label">Room Name</label>
                    <input value="None" type="text" class="form-control" id="roomName" name="room" aria-describedby="roomname">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="itemm">Item</label>
                    <input value="None" type="text" class="form-control" id="itemm" name="item" aria-describedby="item">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="brandnameitemm">Brand Name Item</label>
                    <input value="None "type="text" class="form-control" id="brandnameitemm" name="brandNameItem" aria-describedby="brandnameitem">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="loadnumss"># of Load</label>
                    <input value=0 type="number" class="form-control" step="1" id="loadnumss" name="loadNums">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="ratingsevv">Ratings E(V)</label>
                    <input value=0 type="number" class="form-control" step="0.01" id="ratingsevv" name="ratingsEV">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="ratingsiaa">Ratings I(A)</label>
                    <input value=0 type="number" class="form-control" step="0.01" id="ratingsiaa" name="ratingsIA">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="ratingspww">Ratings P(W)</label>
                    <input value=0 type="number" class="form-control" step="0.01" id="ratingspww" name="ratingsPW">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="actualpww">Actual P(W)</label>
                    <input value=0 type="number" class="form-control" step="0.01" id="actualpww" name="actualPW">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="usagefactorr">Usage Factor</label>
                    <input value=0 type="number" class="form-control" step="0.01" id="usagefactorr" name="usageFactor">
                  </div>

                  <button type="submit" class="btn btn-danger">Add record</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- table modal button -->
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#tableDataModal">
        Database
      </button>

      <!-- table Modal -->
      <div class="modal fade" id="tableDataModal" tabindex="-1" aria-labelledby="tableDataModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="tableDataModalLabel">Database</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Department Name</th>
                    <th scope="col">Room Name</th>
                    <th scope="col">Load</th>
                    <th scope="col">Brand Item Load</th>
                    <th scope="col"># of Load</th>
                    <th scope="col">Ratings E(V)</th>
                    <th scope="col">Ratings I(A)</th>
                    <th scope="col">Ratings P(W)</th>
                    <th scope="col">Actual P(W)</th>
                    <th scope="col">Usage Factor</th>
                    <th scope="col">Actions</th>

                  </tr>
                </thead>
                <tbody>
                </tbody>
                <!-- edit modal -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editModalLabel">Edit Record</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form id="edit-form" action="PUT">
                          <div class="mb-3">
                            <label for="edit-dept-name" class="form-label">Department</label>
                            <input type="text" class="form-control" id="edit-dept-name" name="editdepartment" aria-describedby="departmentname" readonly>
                          </div>
                          <div class="mb-3">
                            <label for="edit-room-name" class="form-label">Room Name</label>
                            <input type="text" class="form-control" id="edit-room-name" name="editroom" aria-describedby="roomname" readonly>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="edit-item">Item</label>
                            <input type="text" class="form-control" id="edit-item" name="edititem" aria-describedby="item">
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="edit-branditemname">Brand Name Item</label>
                            <input type="text" class="form-control" id="edit-branditemname" name="editbrandNameItem" aria-describedby="brandnameitem">
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="edit-loadnums"># of Load</label>
                            <input type="number" class="form-control" step="1" id="edit-loadnums" name="editloadNums">
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="edit-ratingsev">Ratings E(V)</label>
                            <input type="number" class="form-control" step="0.01" id="edit-ratingsev" name="editratingsEV">
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="edit-ratingsia">Ratings I(A)</label>
                            <input type="number" class="form-control" step="0.01" id="edit-ratingsia" name="editratingsIA">
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="edit-ratingspw">Ratings P(W)</label>
                            <input type="number" class="form-control" step="0.01" id="edit-ratingspw" name="editratingsPW">
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="edit-actualpw">Actual P(W)</label>
                            <input type="number" class="form-control" step="0.01" id="edit-actualpw" name="editactualPW">
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="edit-usagefactor">Usage Factor</label>
                            <input type="number" class="form-control" step="0.01" id="edit-usagefactor" name="editusageFactor">
                          </div>
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container text-center">
  <div class="pt-4 row row-cols-2">
    <div class="col">
      <div class="card border-danger text-bg-light w-100" style="width: 18rem;">
        <div class="card-header">Total Wattage</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h4 id="totalwattage" class="card-text">{{ 942 }} KW</h4>
        </div>
      </div>
      <div class="card border-danger text-bg-light w-100" style="width: 18rem;">
        <div class="card-header">Total Power loss</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h4 id="totalpowerloss" class="card-text">0 KW</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Monthly Load Consumption</h2>
      <form method="POST" id="yearChange">
        <div class="mb-3">
          <label for="change-year" class="form-label">Select Year</label>
          <!-- <select name="currdept" id="addDept" class="form-select form-select-lg mb-3"></select> -->
          <select name="changeYear" id="change-year" class="form-select form-select-lg mb-3">
            <option selected>---</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
        </div>
        <!-- <div class="mb-3">
          <select name="changeMonth" id="change-month" class="form-select form-select-lg mb-3">
            <option  selected>---</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div> -->
      </form>
      <canvas id="myChart"></canvas>
    </div>


    <div class="pt-2 col">
      <div class="card border-danger text-bg-light w-100" style="width: 18rem;">
        <div class="card-header">Total Generated</div>
        <div class="card-body">
          <p class="card-title">Solar PV</p>
          <h4 id="totalgensolar" class="card-text">{{ 586 }} KW</h4>
        </div>
      </div>

    </div>
    <div class="col">
      <h2>Load for every Department</h2>
      <canvas id="lmsPieChart"></canvas>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    const ctx = document.getElementById('myChart');
    var roomChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [],
        datasets: []
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    }); 
    
    const pieCtx = document.getElementById('lmsPieChart')
    var deptChart = new Chart(pieCtx, {
      type: 'doughnut',
      data: {
        labels: [],
        datasets: []
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    function showSuccessAlert(message) {
      // Create the success alert HTML
      var alertHtml = '<div style="z-index:-1 important!;" class="alert alert-success alert-dismissible fade show" role="alert">' +
        message +
        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
        '<span aria-hidden="true">&times;</span>' +
        '</button>' +
        '</div>';

      $('#alertContainer').html(alertHtml);

      setTimeout(function() {
        $('.alert').alert('close');
      }, 3000);
    }


    function getTotalWattage() {
      $.ajax({
        url: '/totalColWattage',
        method: 'GET',
        success: function(res) {
          var wattageData = res['data']['total_wattage']
          $('#totalwattage').text(`${wattageData.toString()} KW`)
        },
        error: function(xhr, status, error) {
          console.log(error)
        }
      })
    }

    // function addSolarGenerated(data) {
    //   $.ajax({
    //     url: ''
    //   })
    // }

    function getTotalSolarGenerated() {
      $.ajax({
        url: '/totalColSolarGenerate',
        method: 'GET',
        success: function(res) {
          var solarGenData = res['data']['solar_rating']
          $('#totalgensolar').text(`${solarGenData.toString()} KW`)
        },
        error: function(xhr, status, error) {
          console.log(error)
        }
      })
    }
    function getDateDataChart(year) {
      var data = {year:year}
      $.ajax({
        url:'/roomdata',
        method:'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(res) {
          var roomDataLabels = res['data']['room_load_per_dept']['labels']
          var roomDatasets = res['data']['room_load_per_dept']['data']

          // bar chart    
          roomChart.destroy()

          roomChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: roomDataLabels,
              datasets: roomDatasets
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });   
        },
        error: function(xhr, status, error) {
          console.log(error)
        }
        
      })
    }
    function getDeptDataChart() {
      $.ajax({
        url:'/deptdata',
        method:'GET',
        success: function(res) {
          var deptDataLabels = res['data']['dept_load']['labels']
          var deptDatasets = res['data']['dept_load']['data']

          deptChart.destroy()

          // pie chart
          deptChart =  new Chart(pieCtx, {
            type: 'doughnut',
            data: {
              labels: deptDataLabels,
              datasets: deptDatasets
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
            
        },
        error: function(xhr, status, error) {
          console.log(error)
        }
      })
    }

    
    function getTableData(valToFilter=1.0) {
      console.log(valToFilter)
      if (valToFilter == 1.0) {
        $.get('/databasetable', function(data) {
            totalPowerLoss = 0
            var tableBody = $("tbody")
            $(tableBody).empty();
            var tableData = data['data']['database_table']
            $.each(tableData, function(index, itemData) {
            totalPowerLoss += itemData.ratingsPW
            var row = $('<tr>').appendTo(tableBody);
            $('<td>').text(itemData.deptName).appendTo(row);
            $('<td>').text(itemData.roomName).appendTo(row);
            $('<td>').text(itemData.item).appendTo(row);
            $('<td>').text(itemData.brandNameItem).appendTo(row);
            $('<td>').text(itemData.loadNums).appendTo(row);
            $('<td>').text(itemData.ratingsEV).appendTo(row);
            $('<td>').text(itemData.ratingsIA).appendTo(row);
            $('<td>').text(itemData.ratingsPW).appendTo(row);
            $('<td>').text(itemData.actualPW).appendTo(row);
            $('<td>').text(itemData.usageFactor).appendTo(row);
  
            var editButton = $('<button>').text('Edit').addClass('btn edit-button').appendTo(row);
            editButton.attr('data-id', itemData._id);
  
            var deleteButton = $('<button>').text('Delete').addClass('btn delete-button').appendTo(row);
            deleteButton.attr('data-id', itemData._id);
            });
  
            $('.edit-button').on('click', function() {
              var id = $(this).attr('data-id');
              console.log('Edit button clicked for ID:', id);
              var id = $(this).attr('data-id');
              var deptname = $(this).closest('tr').find('td:eq(0)').text();
              var roomname = $(this).closest('tr').find('td:eq(1)').text();
              var item = $(this).closest('tr').find('td:eq(2)').text();
              var branditemname = $(this).closest('tr').find('td:eq(3)').text();
              var loadnums = $(this).closest('tr').find('td:eq(4)').text();
              var ratingsev = $(this).closest('tr').find('td:eq(5)').text();
              var ratingsia = $(this).closest('tr').find('td:eq(6)').text();
              var ratingspw = $(this).closest('tr').find('td:eq(7)').text();
              var actualpw = $(this).closest('tr').find('td:eq(8)').text();
              var usagefactor = $(this).closest('tr').find('td:eq(9)').text();
  
              $('#edit-name').val(name);
              $('#edit-dept-name').val(deptname);
              $('#edit-room-name').val(roomname);
              $('#edit-item').val(item);
              $('#edit-branditemname').val(branditemname);
              $('#edit-loadnums').val(parseInt(loadnums));
              $('#edit-ratingsev').val(parseFloat(ratingsev));
              $('#edit-ratingsia').val(parseFloat(ratingsia));
              $('#edit-ratingspw').val(parseFloat(ratingspw));
              $('#edit-actualpw').val(parseFloat(actualpw));
              $('#edit-usagefactor').val(parseFloat(usagefactor));
  
              $('#editModal').modal('show');
  
              $('#edit-form').on('submit', function(event) {
                  event.preventDefault();
                  var updatedName = $('#edit-name').val();
                  var updatedDeptName = $('#edit-dept-name').val();
                  var updatedRoomName = $('#edit-room-name').val();
                  var updatedItem = $('#edit-item').val();
                  var updatedBrand = $('#edit-branditemname').val();
                  var updatedLoad = $('#edit-loadnums').val();
                  var updatedEV = $('#edit-ratingsev').val();
                  var updatedIA = $('#edit-ratingsia').val();
                  var updatedPW = $('#edit-ratingspw').val();
                  var updatedActualPW = $('#edit-actualpw').val();
                  var updatedUsageFactor = $('#edit-usagefactor').val();
                  var data = {
                      dept: updatedDeptName,
                      room: updatedRoomName,
                      item: updatedItem,
                      brand: updatedBrand,
                      load: updatedLoad,
                      rateev: updatedEV,
                      rateia: updatedIA,
                      ratepw: updatedPW,
                      actpw: updatedActualPW,
                      usagefac: updatedUsageFactor
                  };
                  console.log(data)
                  updateData(id, data);
  
                  $('#editModal').modal('hide');
            
              });
            });
  
            $('.delete-button').on('click', function() {
              var id = $(this).attr('data-id');
              
              deleteData(id)
  
              console.log('Delete button clicked for ID:', id);
            });

            $('#totalpowerloss').text(`${totalPowerLoss} KW`);
        });
      } else {
        $.post('/databasetable',
          {val: valToFilter},
          function(data) {
            totalPowerLoss = 0
            var tableBody = $("tbody")
            $(tableBody).empty();
            var tableData = data['data']['database_table']
            $.each(tableData, function(index, itemData) {
            
            totalPowerLoss += itemData.ratingsPW
  
            var row = $('<tr>').appendTo(tableBody);
            $('<td>').text(itemData.deptName).appendTo(row);
            $('<td>').text(itemData.roomName).appendTo(row);
            $('<td>').text(itemData.item).appendTo(row);
            $('<td>').text(itemData.brandNameItem).appendTo(row);
            $('<td>').text(itemData.loadNums).appendTo(row);
            $('<td>').text(itemData.ratingsEV).appendTo(row);
            $('<td>').text(itemData.ratingsIA).appendTo(row);
            $('<td>').text(itemData.ratingsPW).appendTo(row);
            $('<td>').text(itemData.actualPW).appendTo(row);
            $('<td>').text(itemData.usageFactor).appendTo(row);
  
            var editButton = $('<button>').text('Edit').addClass('btn edit-button').appendTo(row);
            editButton.attr('data-id', itemData._id);
  
            var deleteButton = $('<button>').text('Delete').addClass('btn delete-button').appendTo(row);
            deleteButton.attr('data-id', itemData._id);
            });
  
            $('.edit-button').on('click', function() {
              var id = $(this).attr('data-id');
              console.log('Edit button clicked for ID:', id);
              var id = $(this).attr('data-id');
              var deptname = $(this).closest('tr').find('td:eq(0)').text();
              var roomname = $(this).closest('tr').find('td:eq(1)').text();
              var item = $(this).closest('tr').find('td:eq(2)').text();
              var branditemname = $(this).closest('tr').find('td:eq(3)').text();
              var loadnums = $(this).closest('tr').find('td:eq(4)').text();
              var ratingsev = $(this).closest('tr').find('td:eq(5)').text();
              var ratingsia = $(this).closest('tr').find('td:eq(6)').text();
              var ratingspw = $(this).closest('tr').find('td:eq(7)').text();
              var actualpw = $(this).closest('tr').find('td:eq(8)').text();
              var usagefactor = $(this).closest('tr').find('td:eq(9)').text();
  
              $('#edit-name').val(name);
              $('#edit-dept-name').val(deptname);
              $('#edit-room-name').val(roomname);
              $('#edit-item').val(item);
              $('#edit-branditemname').val(branditemname);
              $('#edit-loadnums').val(parseInt(loadnums));
              $('#edit-ratingsev').val(parseFloat(ratingsev));
              $('#edit-ratingsia').val(parseFloat(ratingsia));
              $('#edit-ratingspw').val(parseFloat(ratingspw));
              $('#edit-actualpw').val(parseFloat(actualpw));
              $('#edit-usagefactor').val(parseFloat(usagefactor));
  
              $('#editModal').modal('show');
  
              $('#edit-form').on('submit', function(event) {
                  event.preventDefault();
                  var updatedName = $('#edit-name').val();
                  var updatedDeptName = $('#edit-dept-name').val();
                  var updatedRoomName = $('#edit-room-name').val();
                  var updatedItem = $('#edit-item').val();
                  var updatedBrand = $('#edit-branditemname').val();
                  var updatedLoad = $('#edit-loadnums').val();
                  var updatedEV = $('#edit-ratingsev').val();
                  var updatedIA = $('#edit-ratingsia').val();
                  var updatedPW = $('#edit-ratingspw').val();
                  var updatedActualPW = $('#edit-actualpw').val();
                  var updatedUsageFactor = $('#edit-usagefactor').val();
                  var data = {
                      dept: updatedDeptName,
                      room: updatedRoomName,
                      item: updatedItem,
                      brand: updatedBrand,
                      load: updatedLoad,
                      rateev: updatedEV,
                      rateia: updatedIA,
                      ratepw: updatedPW,
                      actpw: updatedActualPW,
                      usagefac: updatedUsageFactor
                  };
                  console.log(data)
                  updateData(id, data);
  
                  $('#editModal').modal('hide');
            
              });
            });
  
            $('.delete-button').on('click', function() {
              var id = $(this).attr('data-id');
              
              deleteData(id)
  
              console.log('Delete button clicked for ID:', id);
            });
            $('#totalpowerloss').text(`${totalPowerLoss} KW`);
        }, 'json');
      }
    }

    // UPDATE Request
    function updateData(id, data) { 
        $.ajax({
            url: '/updateload/' + id,
            type: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function(response) {
              getDateDataChart()
              getDeptDataChart()
              getTableData()
              getTotalSolarGenerated()
              getTotalWattage()  
              getDept()
              getYears()
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    }

    // DELETE Request
    function deleteData(id) {
        $.ajax({
            url: '/deleteload/' + id,
            type: 'DELETE',
            success: function(response) {
              console.log(response.message);
              getDateDataChart()
              getDeptDataChart()
              getTableData()
              getTotalSolarGenerated()
              getTotalWattage()  
              getDept()
              getYears()
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    }
    
    // function allRooms(deptVal) {
    //   var requestData = {
    //     'input': deptVal
    //   };
  
    //   // to get all rooms in the current dept
    //   // must change when dept at the top changes
    //   $.ajax({
    //     url: '/allroomsperdept',
    //     method: 'POST',
    //     data: JSON.stringify(requestData),
    //     contentType: 'application/json',
    //     success: function(res) {
    //       // Assuming the response is an array of option values
    //       var options = res['data']['all_rooms']

    //       // Clear existing options (if any)
    //       $('#allrooms').empty();

    //       // Append new options
    //       $.each(options, function(index, value) {
    //         $('#allrooms').append($('<option>').text(value).attr('value', value));
    //       });

    //     },
    //     error: function(xhr, status, error) {
    //       console.log(error)
    //     }
    //   })
    // }


    $('#addDept').change(function() {
      var selectedValue = $(this).val();
      console.log('Selected value:', selectedValue);
      // allRooms(selectedValue)
      getDateDataChart(selectedValue)
    });
    
    // $('#change-month').change(function() {
    //   var selectedValue = $(this).val();
    //   var selectedYearVal = $('#change-year').val()
    //   console.log(selectedYearVal)
    //   console.log('Selected value:', selectedValue);
    //   // allRooms(selectedValue)
    //   getDateDataChart(selectedValue, selectedYearVal)

    // });
    $('#change-year').change(function() {
      var selectedValue = $(this).val();
      console.log('Selected value:', selectedValue);
      // allRooms(selectedValue)
      getDateDataChart(selectedValue)

    });
  
    function getDept(){
      // get all dept
      $.ajax({
        url: '/alldept',
        method: 'GET',
        success: function(res) {
          // Assuming the response is an array of option values
          var options = res['data']['all_dept']
  
          // Clear existing options (if any)
          $('#addDept').empty();
  
          // Append new options
          $.each(options, function(index, value) {
            $('#addDept').append($('<option>').text(value).attr('value', value));
          });
  
          // allRooms($('#addDept').val())
        },
        error: function(xhr, status, error) {
          console.log(error)
        }
      })
    }
    function getYears(){
      // get all dept
      $.ajax({
        url: '/allyears',
        method: 'GET',
        success: function(res) {
          // Assuming the response is an array of option values
          var options = res['data']
  
          // Clear existing options (if any)
          $('#change-year').empty();
  
          // Append new options
          $.each(options, function(index, value) {
            $('#change-year').append($('<option>').text(value).attr('value', value));
          });
  
          // allRooms($('#change-year').val())
        },
        error: function(xhr, status, error) {
          console.log(error)
        }
      })
    }

    function totalLoadPowerLoss() {

    }

    $('#add-solar').submit(function(event) {
      event.preventDefault()

      var formData = $(this).serialize()
      console.log(formData)
      $.ajax({
        url: '/addsolar',
        method: 'POST',
        data: formData,
        success: function(response) {
          $('#add-solar')[0].reset()
          if (response['status'] === 'ok') {
            getTotalSolarGenerated()
          }
        }
      })
    })

    $('#addrecord').submit(function(event) {
      event.preventDefault();

      var formData = $(this).serialize();
      // var formData = new FormData(


      $.ajax({
        url: '/addrecordfor', // Replace with the Flask endpoint URL
        method: 'POST',
        data: formData, // Convert form data array to JSON string
        success: function(response) {
          $('#addrecord')[0].reset();
          showSuccessAlert('Record Added to Database');
          
          if (response['status'] === 'ok') {
            getDateDataChart()
            getDeptDataChart()
            getTableData()
            getTotalSolarGenerated()
            getTotalWattage()  
            getDept()
            getYears()
            
            
          }
          // $('#addRecModal').model('hide')
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    });
    
    $.ajax({
      url:'/roomdata',
      method:'GET',
      success: function(res) {
        var roomDataLabels = res['data']['room_load_per_dept']['labels']
        var roomDatasets = res['data']['room_load_per_dept']['data']

        // bar chart    
        roomChart.destroy()

        roomChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: roomDataLabels,
            datasets: roomDatasets
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });   
      },
      error: function(xhr, status, error) {
        console.log(error)
      }
      
    })
    $('#powerloss').on('input', function() {
        var newValue = $(this).val();
        $('#rangeValue').text(newValue);
    });
    $('#filterUsage').submit(function(event) {
      event.preventDefault()
      // var formData = $(this).serialize()
      // console.log(formData)
      var rangeValue = $('#powerloss').val();


      console.log(parseFloat(rangeValue).toFixed(1))

      getTableData(valToFilter = parseFloat(rangeValue).toFixed(1))
   
    });

    // getDateDataChart()
    getDeptDataChart()
    getTableData()
    getTotalSolarGenerated()
    getTotalWattage()  
    getDept()
    getYears() 
  })


</script>

{% endblock content %}